/* body{
    background:linear-gradient(to right, #e21c34,#500b28);
}
.signup_con{
    border-color: black;
    margin: 10px,10px;
}
.log{
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 1%;
    margin: 9% 33%;
    background-color: rgba(255,255,255, 0.1);

}
.log h2{
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px 160px 30px;
}
.log .name input{
    width: 49%;
    padding: 15px;
    border-radius: 40px;
    border-color: white;
    color: white;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.1);
}
.log input{
    width: 100%;
    padding: 15px;
    border-radius: 40px;
    border-color: white;
    color: white;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.1);
}
.log input::placeholder{
    color: white;
}
.log button{
    width: 100%;
    padding: 15px;
    border-radius: 40px;
    border-color: white;
    margin-top: 30px;
    background-color: white;
}
.log button:hover{
    background-color: #4e204d;
    color: white;
}
.log .error{
    color: black;
    margin-top: 0px;
}
.log .policy input{
    width: 5px;
}
.log .policy label{
    color: white;
    margin-top: 8px;
}
.log .policy label a{
    color: #4e204d;
    text-decoration: none;
    font-weight: bold;
}
.log .policy label a:hover{
    color: #c0c0c0;
}
.log .endline{
    margin-left: 95px;
    margin-top: 30px;
}
.log .endline p{
    color:white;
}
.endline .reg{
    color: #4e204d;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.endline .reg:hover{
    color: #c0c0c0;
} */

body{
    background-image: linear-gradient(to right top, #00f6f5, #00daff, #00bbff, #0098ff, #006fee, #1956d2, #213db6, #24249a, #1e1c80, #181466, #110d4e, #0e0137);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}
h1{
    font-family: Playfair Display;
    color: white;
    margin: 5% 0% 0% 7%;
}